@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@600;700;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-lexend-giga: "Lexend Giga";

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;

  /* Paddings */
  --padding-10xs-2: 2.2px;
  --padding-2xs: 11px;
  --padding-xs: 12px;

  /* border radiuses */
  --br-mini-5: 14.5px;
  --br-6xl: 25px;
}
